{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  name: {{ $glbCtx.WorkspaceResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.RafayConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      refresh: true
      backendType: system
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.tfRepoPathWorkspace }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: memory
    options:
      description: Assign the amount of memory for the workspace memory request in
        mebibytes (Mi)
      override:
        restrictedValues:
        - 2048Mi
        - 4096Mi
        - 8192Mi
        type: restricted
      required: true
    value: 2048Mi
    valueType: text
  - name: cpu
    options:
      description: Assign the amount of CPU for the workspace CPU request in milliCPU
        (m)
      override:
        restrictedValues:
        - 2000m
        - 4000m
        - 8000m
        type: restricted
      required: true
    value: 2000m
    valueType: text
  version: {{ $glbCtx.version }}
