{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: Driver
metadata:
  name: {{ $glbCtx.OCIDriver }}
  project: {{ $glbCtx.projectName }}
spec:
  config:
    container:
      envVars:
        BOOTSTRAP_ENV: $(resource."{{ $glbCtx.ImportResourceTemplate }}-{{ $glbCtx.projectName }}".output.bootstrap.value)$
        KUBECONFIG_ENV: $(resource."{{ $glbCtx.OCIOKEResourceTemplate }}-{{ $glbCtx.projectName }}".output.kubeconfig.value)$
      image: registry.dev.rafay-edge.net/oci-cli:0.16
      volumes:
      - mountPath: /root/oke/import
    type: container