{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: EnvironmentTemplate
metadata:
  name: {{ $glbCtx.EC2EnvironmentTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  resources:
  - kind: resourcetemplate
    name: {{ $glbCtx.VPCResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  - kind: resourcetemplate
    name: {{ $glbCtx.EC2ResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  variables:
  - name: region
    options:
      override:
        type: allowed
      required: true
    value: {{ $glbCtx.region }}
    valueType: text
  - name: cidr
    options:
      override:
        type: allowed
    value: 10.0.0.0/16
    valueType: text
  - name: tags
    options:
      override:
        type: allowed
    value: |-
      {
        "email" = "rkd@rafay.co"
        "env"    = "dev"
      }
    valueType: hcl
  - name: volume_tags
    options:
      override:
        type: allowed
    value: |-
      {
        "email" = "rkd@rafay.co"
        "env"    = "dev"
      }
    valueType: hcl
  - name: instance_type
    options:
      override:
        type: allowed
    value: t3.medium
    valueType: text
  - name: azs
    options:
      override:
        type: allowed
    value: '["us-west-2a", "us-west-2b", "us-west-2c"]'
    valueType: hcl
  - name: private_subnets
    options:
      override:
        type: allowed
    value: '["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]'
    valueType: hcl
  - name: public_subnets
    options:
      override:
        type: allowed
    value: '["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]'
    valueType: hcl
  - name: enable_nat_gateway
    options:
      override:
        type: allowed
    value: "true"
    valueType: hcl
  version: {{ $glbCtx.version }}

