{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  name: {{ $glbCtx.KubeflowResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.RafayConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      refresh: true
      useSystemStateStore: true
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.tfRepoPathKubeflow }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: eks_cluster_name
    options:
      override:
        type: allowed
    value: {{ $glbCtx.EKSClusterName }}
    valueType: text
  version: {{ $glbCtx.version }}