mariadb:
  primary:
    persistence:
      storageClass: ${storageclass}

controller:
  persistence:
    storageClass: ${storageclass}

compute:
  nodesets:
    - persistentVolumeClaimRetentionPolicy:
        whenScaled: Retain
