{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  description: Updated variables
  name: {{ $glbCtx.VSphereCloudCredentialResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.VMwarevSphereConfigContext }}-{{ $glbCtx.projectName }}
  - name: {{ $glbCtx.RafayConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      backendType: system
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.VSphereCloudCredentialtfRepoPath }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: gateway_name
    options:
      description: Mapping gateway to Cloud Credentials
      required: true
    value: $(resource."{{ $glbCtx.GatewayResourceTemplate }}-{{ $glbCtx.projectName }}".output.gateway_name.value)$
    valueType: expression
  - name: project_name
    options:
      required: true
    value: {{ $glbCtx.projectName }}
    valueType: expression
  - name: cloud_credential_name
    value: $(environment.name)$
    valueType: expression
  version: {{ $glbCtx.version }}
