{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
Config context:
kind: ConfigContext
metadata:
  name: {{ $glbCtx.OCIConfigContext }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  envs:
  - key: TF_VAR_tenancy_ocid
    sensitive: true
    value: UPDATE_VALUE
  - key: TF_VAR_user_ocid
    sensitive: true
    value: UPDATE_VALUE
  - key: TF_VAR_fingerprint
    sensitive: true
    value: UPDATE_VALUE
  - key: TF_VAR_private_key_path
    value: oci-key
  files:
  - data: c2VhbGVkOi8vZmlsZXMuMA==
    name: oci-key
    sensitive: true
  - data: c2VhbGVkOi8vZmlsZXMuMQ==
    name: ssh-key.pub
    sensitive: true
  - data: c2VhbGVkOi8vZmlsZXMuMg==
    name: ssh-key
    sensitive: true
