{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
Config context:
kind: ConfigContext
metadata:
  name: {{ $glbCtx.OCIConfigContext }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  envs:
  - key: AWS_ACCESS_KEY_ID
    sensitive: true
    value: UPDATE_VALUE
  - key: AWS_SECRET_ACCESS_KEY
    sensitive: true
    value: UPDATE_VALUE
  variables:
  - name: aws_cloud_provider_access_key
    options:
      override:
        type: allowed
      sensitive: true
    value: UPDATE_VALUE
    valueType: text
  - name: aws_cloud_provider_secret_key
    options:
      override:
        type: allowed
      sensitive: true
    value: UPDATE_VALUE
    valueType: text
