{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
Config context:
kind: ConfigContext
metadata:
  name: {{ $glbCtx.OCIEnvVarsConfigContext }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  envs:
  - key: OCI_CLI_KEY_FILE
    value: UPDATE_VALUE
  - key: OCI_CLI_REGION
    value: {{ $glbCtx.ociRegion }}
  - key: OCI_CLI_USER
    sensitive: true
    value: UPDATE_VALUE
  - key: OCI_CLI_TENANCY
    sensitive: true
    value: UPDATE_VALUE
  - key: OCI_CLI_FINGERPRINT
    sensitive: true
    value: UPDATE_VALUE
  files:
  - data: UPDATE_VALUE
    name: oci-key
    sensitive: true


