{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  description: Updated variables
  name: {{ $glbCtx.PNAPResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.PhoenixNAPConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      backendType: system
      refresh: true
      useSystemStateStore: true
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.PNAPtfRepoPath }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: cluster_name
    options:
      description: Hostname of the server
      override:
        type: notallowed
      required: true
    value: $(environment.name)$
    valueType: expression
  - name: type
    options:
      description: Server type
      override:
        type: notallowed
      required: true
    value: s2.c1.large
    valueType: text
  - name: os
    options:
      description: Operating System of the server
      override:
        type: notallowed
      required: true
    value: ubuntu/jammy
    valueType: text
  - name: location
    options:
      description: Location of the server
      override:
        type: notallowed
      required: true
    value: PHX
    valueType: text
  - name: total_instances
	 options:
      description: Number of nodes (6 Cores and 128GB RAM per node)
      override:
        restrictedValues:
        - "1"
        - "2"
        - "3"
        type: restricted
      required: true
    value: "1"
    valueType: text
  - name: cidr_block_size
    options:
      description: public cidr block size
      override:
        type: notallowed
      required: true
    value: "29"
    valueType: text
  version: {{ $glbCtx.version }}
