{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  description: Updated variables
  name: {{ $glbCtx.PNAPResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.PhoenixNAPConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      backendType: system
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.PNAPtfRepoPath }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: cluster_name
    options:
      description: Hostname of the server
      override:
        type: allowed
      required: true
    value: $(environment.name)$
    valueType: text
  - name: type
    options:
      description: Server type
      override:
        type: allowed
      required: true
    value: s2.c1.medium
    valueType: text
  - name: os
    options:
      description: Operating System of the server
      override:
        type: allowed
      required: true
    value: ubuntu/jammy
    valueType: text
  - name: location
    options:
      description: Location of the server
      override:
        restrictedValues:
        - PHX
        - ASH
        - SGP
        - NLD
        - CHI
        - SEA
        - AUS
        type: restricted
      required: true
    value: ASH
    valueType: text
  - name: total_instances
    options:
      description: number of servers
      override:
        type: allowed
      required: true
    value: "1"
    valueType: text
  - name: cidr_block_size
    options:
      description: public cidr block size
      override:
        type: allowed
      required: true
    value: "29"
    valueType: text
  version: {{ $glbCtx.version }}
