{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  description: Updated variables
  name: {{ $glbCtx.WorkloadResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.RafayConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      useSystemStateStore: true
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.WorkloadtfRepoPath }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: project
    options:
      override:
        type: allowed
      required: true
    value: $(environment.project.name)$
    valueType: text
  - name: cluster_name
    options:
      override:
        type: allowed
      required: true
    value: $(resource."{{ $glbCtx.MKSResourceTemplate }}-{{ $glbCtx.projectName }}".output.cluster_name.value)$
    valueType: expression
  version: {{ $glbCtx.version }}