{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: EnvironmentTemplate
metadata:
  name: {{ $glbCtx.WorkspaceEnvironmentTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  resources:
  - kind: resourcetemplate
    name: {{ $glbCtx.WorkspaceResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  variables:
  - name: project
    options:
      override:
        type: allowed
    value: {{ $glbCtx.projectName }}
    valueType: text
  - name: cluster_name
    options:
      override:
        type: allowed
    value: {{ $glbCtx.EKSClusterName }}
    valueType: text
  - name: username
    options:
      override:
        type: allowed
    value: $(trigger.payload.username)$
    valueType: expression
  version: {{ $glbCtx.version }}
