init:
  helm:
   - chart:
        name: v2-infra
        repo: https://rafaysystems.github.io/rafay-helm-charts/
        version: 1.1.2
     values: |-
        ${ values }
     release:
        name: v2-infra
        namespace: rafay-system