{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  name: {{ $glbCtx.VPCResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}
  contexts:
  - name: {{ $glbCtx.AWSConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      refresh: true
      backendType: system
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.tfRepoPathVPC }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: aws_region
    options:
      override:
        type: allowed
      required: true
    value: {{ $glbCtx.awsRegion }}
    valueType: text
  version: {{ $glbCtx.version }}