{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  name: {{ $glbCtx.RagQdrantResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.AWSConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      refresh: true
      useSystemStateStore: true
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.tfRepoPathQdrant }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: qdarnt_helm_version
    options:
      description: Qdrant Helm chart version
      override:
        type: restricted
	restrictedValues: 
	- 0.6.1
    value: 0.6.1
    valueType: text
  - name: namespace
    options:
      description: Name of the namespace
      override:
        type: notallowed
    value: $(environment.name)$
    valueType: expression
  version: {{ $glbCtx.version }}
