{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: EnvironmentTemplate
metadata:
  name: {{ $glbCtx.AIEnvironmentTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  resources:
  - kind: resourcetemplate
    name: {{ $glbCtx.GenAIResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic	
  - dependsOn:
    - name: {{ $glbCtx.GenAIResourceTemplate }}-{{ $glbCtx.projectName }}
    kind: resourcetemplate
    name: {{ $glbCtx.RagBedrockResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic	
  - dependsOn:
    - name: {{ $glbCtx.RagBedrockResourceTemplate }}-{{ $glbCtx.projectName }}
    kind: resourcetemplate
    name: {{ $glbCtx.RagOpenAIResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic	
  - dependsOn:
    - name: {{ $glbCtx.RagOpenAIResourceTemplate }}-{{ $glbCtx.projectName }}
    kind: resourcetemplate
    name: {{ $glbCtx.RagQdrantResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic	
  - dependsOn:
    - name: {{ $glbCtx.RagQdrantResourceTemplate }}-{{ $glbCtx.projectName }}
    kind: resourcetemplate
    name: {{ $glbCtx.RagAppResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  variables:
  - name: project
    options:
      override:
        type: allowed
    value: {{ $glbCtx.projectName }}
    valueType: text
  - name: cluster_name
    options:
      override:
        restrictedValues:
        - {{ $glbCtx.EKSClusterName }}
        type: restricted
    value: {{ $glbCtx.EKSClusterName }}
    valueType: text
  - name: namespace
    options:
      override:
        restrictedValues:
        - $(resource."{{ $glbCtx.GenAIResourceTemplate }}-{{ $glbCtx.projectName }}".output.vpc_id.value)$}
        type: restricted
    value: $(resource."{{ $glbCtx.GenAIResourceTemplate }}-{{ $glbCtx.projectName }}".output.vpc_id.value)$
    valueType: expression
  version: {{ $glbCtx.version }}
