{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
Config context:
kind: ConfigContext
metadata:
  name: {{ $glbCtx.AWSConfigContext }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  variables:
  - name: rolearn
    options:
      override:
        type: allowed
      sensitive: true
    value: UPDATE_VALUE
    valueType: text
  - name: externalid
    options:
      override:
        type: allowed
      sensitive: true
    value: UPDATE_VALUE
    valueType: text