{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: Environment
metadata:
  name: {{ $glbCtx.Environment }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  template:
    name: {{ $glbCtx.EnvironmentTemplate }}-{{ $glbCtx.projectName }}
    version: {{ $glbCtx.version }}
  variables:
  - name: project
    value: UPDATE VALUE
    valueType: text
  - name: group
    value: UPDATE VALUE
    valueType: text
  - name: cluster_name
    value: UPDATE VALUE
    valueType: text
  - name: k8s_version
    value: "1.27"
    valueType: text
  - name: managed_nodegroups
    value: |-
      {
        "ng-1" = {
          ng_name         = "infra-terraform"
          node_count      = 1
          node_max_count  = 3
          node_min_count  = 1
          k8s_version     = "1.27"
          instance_type   = "t3.large"
        }
      }
    valueType: hcl
status: {}
