boto3
langchain
openai
tiktoken
fastapi
PyPDF2
python-multipart
tenacity
uvicorn
qdrant-client
coloredlogs
unstructured==0.5.9
unstructured-inference==0.2.4
pypdf==3.8.1
prometheus-fastapi-instrumentator
