{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: Environment
metadata:
  name: {{ $glbCtx.Environment }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}
  template:
    name: {{ $glbCtx.EnvironmentTemplate }}-{{ $glbCtx.projectName }}
    version: {{ $glbCtx.version }}