# slurm-prometheus-values.yaml
alertmanager:
  enabled: false

prometheus-pushgateway:
  enabled: false
  
prometheus-node-exporter:
  enabled: false
  
server:
  service:
    type: ClusterIP
    port: 9090
  persistentVolume:
    enabled: true
    size: 5Gi
    accessModes:
      - ReadWriteOnce
  retention: 7d
  
# extraScrapeConfigs is at the root level
extraScrapeConfigs: |-
  - job_name: "slurm"
    metrics_path: /metrics
    static_configs:
      - targets:
          - slurm-exporter.${NAMESPACE}.svc.cluster.local:8080
