{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: EnvironmentTemplate
metadata:
  name: {{ $glbCtx.EnvironmentTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}
  resources:
  - kind: resourcetemplate
    name: {{ $glbCtx.VPCResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  - dependsOn:
    - name: {{ $glbCtx.VPCResourceTemplate }}-{{ $glbCtx.projectName }}
    kind: resourcetemplate
    name: {{ $glbCtx.GENAIResourceTemplate }}-{{ $glbCtx.projectName }}
    resourceOptions:
      version: {{ $glbCtx.version }}
    type: dynamic
  variables:
  - name: aws_region
    options:
      override:
        type: allowed
    value: {{ $glbCtx.awsRegion }}
    valueType: text
  version: {{ $glbCtx.version }}