{{ $glbCtx := . }}
apiVersion: integrations.k8smgmt.io/v3
kind: Repository
metadata:
  name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}
  credentials:
    username: {{ $glbCtx.userName }}
    password: {{ $glbCtx.token }}
  endpoint: {{ $glbCtx.endPoint }}
  type: Git
