{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ConfigContext
metadata:
  name: rafay-auth-config-slurm
  project: {{ $glbCtx.projectName }}
spec:
  files:
  - name: rctlconfig.json
    # Decoded: UPDATE_VALUE
    data: VVBEQVRFX1ZBTFVF
    options:
      sensitive: true
      override:
        type: notallowed
  variables:
  - name: rctl_config_path
    valueType: text
    value: rctlconfig.json
    options:
      override:
        type: notallowed
