{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ConfigContext
metadata:
  name: kubeconfig-mounter-slurm
  project: {{ $glbCtx.projectName }}
spec:
  files:
  - name: kubeconfig.json
    data: JChyZXNvdXJjZS4ia3ViZWNvbmZpZy1tb3VudGVyLXNsdXJtIi5vdXRwdXQua3ViZWNvbmZpZy52YWx1ZSkk
    options:
      sensitive: true
      override:
        type: notallowed
  variables:
  - name: kubeconfig_path
    valueType: text
    value: kubeconfig.json
    options:
      override:
        type: notallowed
