{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  name: kubeconfig-mounter-slurm
  project: {{ $glbCtx.projectName }}
spec:
  version: {{ $glbCtx.version }}
  provider: opentofu
  providerOptions:
    openTofu:
      version: "1.8.2"
      refresh: true
      backendType: system
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.tfRepoPathkubeconfig }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: rafay-auth-config-slurm
  variables:
  - name: cluster_name
    valueType: text
    value: "rafay-cluster-name"
    options:
      description: Name of the cluster
      required: true
      override:
        type: allowed
  versionState: active
