{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: EnvironmentTemplate
metadata:
  name: slurm
  project: {{ $glbCtx.projectName }}
  description: Deploy Slurm
  displayName: Slurm
spec:
  iconURL: https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Slurm_logo.svg/590px-Slurm_logo.svg.png
  readme: ""
  version: {{ $glbCtx.version }}
  resources:
  - type: dynamic
    kind: resourcetemplate
    name: kubeconfig-mounter-slurm
    resourceOptions:
      version: {{ $glbCtx.version }}
  - type: dynamic
    kind: resourcetemplate
    name: slurm
    resourceOptions:
      version: {{ $glbCtx.version }}
    dependsOn:
    - name: kubeconfig-mounter-slurm
  agents:
  - name: {{ $glbCtx.agentName }}
  variables:
  - name: projectid
    options:
      override:
        type: notallowed
    value: $(environment.project.id)$
    valueType: expression
  versionState: Active
