{{ $glbCtx := . }}
apiVersion: eaas.envmgmt.io/v1
kind: ResourceTemplate
metadata:
  description: Updated variables
  name: {{ $glbCtx.GKEResourceTemplate }}-{{ $glbCtx.projectName }}
  project: {{ $glbCtx.projectName }}
spec:
  agents:
  - name: {{ $glbCtx.agentName }}-{{ $glbCtx.projectName }}
  contexts:
  - name: {{ $glbCtx.RafayConfigContext }}-{{ $glbCtx.projectName }}
  provider: terraform
  providerOptions:
    terraform:
      backendType: system
      version: 1.4.6
  repositoryOptions:
    branch: {{ $glbCtx.branch }}
    directoryPath: {{ $glbCtx.GKEtfRepoPath }}
    name: {{ $glbCtx.repoName }}-{{ $glbCtx.projectName }}
  variables:
  - name: project_name
    options:
      description: Rafay Project Name
      override:
        type: notallowed
      required: true
    value: $(environment.name)$
    valueType: expression
  - name: cluster_name
    options:
      description: Rafay Cluster Name
      override:
        type: notallowed
      required: true
    value: $(environment.name)$
    valueType: expression
  - name: credentials_name
    options:
      description: Cloud Credentials to Use
      override:
        type: notallowed
      required: true
    value: $(resource."{{ $glbCtx.GCPCloudCredentialResourceTemplate }}-{{ $glbCtx.projectName }}".output.credentials.value)$
    valueType: expression
  - name: gcp_project
    options:
      description: GCP Project ID
      override:
        type: allowed
      required: true
    value: {{ $glbCtx.GCPProjectID }}
    valueType: text
  version: {{ $glbCtx.version }}
