prometheus:
  prometheusSpec:
    service:
      name: slurm-monitoring-prometheus
    # Scrape your Slurm exporter
    additionalScrapeConfigs:
      - job_name: "slurm"
        metrics_path: /metrics
        static_configs:
          - targets:
              - slurm-exporter.${NAMESPACE}.svc.cluster.local:8080

    # Optional: persistent storage
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
              
alertmanager:
  enabled: false

kubeStateMetrics:
  enabled: false

nodeExporter:
  enabled: false

grafana:
  enabled: false